<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BrimFeedbackEndpoint</key>
	<string>$(BRIM_FEEDBACK_ENDPOINT)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Application</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.application-bundle</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Installer Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.installer-package-archive</string>
				<string>com.apple.installer-meta-package</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.disk-image</string>
				<string>com.apple.disk-image-udif</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
